.homePage {
	min-height: 100vh;
	padding: 0 var(--sidePadding);
	margin-top: 66px;
}

.homePage .headline {
	font-size: var(--headerFS);
	font-family: var(--font-staatliches), system-ui, sans-serif;
	text-align: center;
	line-height: 120%;
}

.homePage .heroSection .headline {
	margin-top: 15px;
	margin-bottom: 15px;
}

.homePage .heroSection p {
	font-weight: 500;
	font-size: 18px;
	max-width: 514px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

.homePage .buttonContainer {
	position: relative;
	width: fit-content;
}

.homePage .heroSection a,
.homePage .popularSeries a,
.homePage .anniversary a {
	display: block;
	font-size: var(--butonFS);
	padding: 19px 51px;
	cursor: pointer;
	font-weight: 600;
	border-radius: 15px;
	border: 3px solid var(--black);
	position: relative;
	z-index: 1;
	white-space: nowrap;
}

.homePage .buttonBack {
	position: absolute;
	left: 8px;
	top: 8px;
	z-index: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black);
	border-radius: 15px;
}

.homePage .heroSection a {
	background-color: var(--orange);
}

.homePage .heroSection .buttonContainer {
	margin: 0 auto;
}

.homePage .heroSection img {
	display: block;
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 55px;
	height: fit-content;
}

.homePage .orangeContainer {
	margin: 0 calc(var(--sidePadding) * -1);
	width: calc(100% + (var(--sidePadding) * 2));
}

.homePage .orangeBlock {
	display: block;
	width: 100%;
}

.homePage .newReleases,
.homePage .popularSeries {
	margin: 0 calc(var(--sidePadding) * -1);
	padding: 0 var(--sidePadding);
}

.homePage .newReleases {
	background-color: var(--orange);
	padding-bottom: 32px;
	padding-top: 32px;
}

.homePage .newReleases a {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: var(--butonFS);
	font-weight: 600;
	cursor: pointer;
	width: fit-content;
	margin: 0 auto;
	padding: 5px 15px;
}

.homePage .popularSeries .popularSeriesContent,
.homePage .newReleases .comicsContainer,
.homePage .anniversary {
	max-width: 1008px;
	margin: 0 auto;
}

.homePage .newReleases .comicsContainer {
	display: flex;
	gap: 32px 16px;
	margin-top: 30px;
}

.homePage .newReleases .comicsContainer .comic {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.homePage .newReleases .comicsContainer .comic img {
	width: 100%;
}

.homePage .newReleases .comicsContainer .comic .comicInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.homePage .newReleases .comicsContainer .comic .price,
.homePage .popularSeries .comicsContainerOfThree .comic .price {
	display: flex;
	align-items: baseline;
	gap: 10px;
}

.homePage .newReleases .comicsContainer .comic .price h4,
.homePage .popularSeries .comicsContainerOfThree .comic .price h4 {
	font-weight: 600;
}

.homePage .newReleases .comicsContainer .comic .price span,
.homePage .popularSeries .comicsContainerOfThree .comic .price span {
	text-decoration: line-through;
	font-size: 14px;
	opacity: 65%;
	font-weight: 600;
}

.homePage .popularSeries {
	background-color: var(--green);
	padding-bottom: 60px;
	padding-top: 48px;
	color: var(--greenWhite);
}

.homePage .popularSeries .headline {
	text-align: left;
	margin-bottom: 16px;
}

.homePage .popularSeries .comicsContainerOfThree {
	margin-top: 30px;
	margin-bottom: 40px;
	display: grid;
	gap: 32px 16px;
	grid-template-columns: repeat(3, 1fr);
}

.homePage .popularSeries .comicsContainerOfThree .comic,
.homePage .popularSeries .comicsContainerOfThree .comic img {
	width: 100%;
}

.homePage .popularSeries .comicsContainerOfThree .comic {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.homePage .popularSeries .comicsContainerOfThree .comic .comicInfo {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.homePage .popularSeries a {
	background-color: var(--lightGreen);
	border-color: var(--greenWhite);
}

.homePage .popularSeries .buttonContainer .buttonBack {
	background-color: var(--greenWhite);
}

.homePage .anniversary {
	margin-top: 70px;
	margin-bottom: 70px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.homePage .anniversary h2 {
	text-align: left;
	white-space: nowrap;
	margin-bottom: -10px;
}

.homePage .anniversary img,
.homePage .anniversary .anniversaryBigBlock {
	width: 100%;
	min-width: 0;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.homePage .anniversary .anniversaryBigBlock img {
	display: none;
}

.homePage .anniversary .anniversaryInfo p,
.homePage .anniversary b {
	font-size: 18px;
}

.homePage .anniversary b {
	font-weight: 700;
}

.homePage .anniversary a {
	width: fit-content;
	background-color: var(--orange);
}

/* New Releases and heroSection headline */
@media(max-width:820px) {
	.homePage .heroSection .headline {
		max-width: 529px;
		margin-left: auto;
		margin-right: auto;
	}

	.homePage .newReleases .comicsContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-width: 613px;
	}
}

/* мобильная версия */
@media(max-width: 645px) {
	.homePage {
		padding: 0 16px;
		margin-top: 54px;
	}

	.homePage .headline {
		font-size: var(--headerMobileFS);
	}

	.homePage .heroSection {
		display: flex;
		flex-direction: column;
	}

	.homePage .heroSection .headline {
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}

	.homePage .heroSection .imageContainer {
		order: 1;
	}

	.homePage .heroSection img {
		margin-top: 0;
		margin-bottom: 20px;
	}

	.homePage .heroSection p {
		order: 2;
		max-width: 301px;
		margin-bottom: 40px;
	}

	.homePage .heroSection .buttonContainer {
		order: 3;
		width: 100%;
		text-align: center;
		margin-bottom: 64px;
	}

	.homePage .newReleases {
		padding-bottom: 48px;
	}

	.homePage .newReleases a {
		padding: 10px 15px 5px 15px;
	}

	.homePage .popularSeries .comicsContainerOfThree {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-width: 613px;
		margin-right: auto;
		margin-left: auto;
	}

	.homePage .popularSeries .buttonContainer,
	.homePage .anniversary .buttonContainer {
		width: 100%;
	}

	.homePage .popularSeries .buttonContainer a,
	.homePage .anniversary .buttonContainer a {
		display: block;
		width: 100%;
		text-align: center;
	}

	.homePage .anniversary {
		grid-template-columns: 1fr;
	}

	.homePage .anniversary br:last-child {
		display: none;
	}

	.homePage .anniversary .headline {
		text-align: center;
		margin-bottom: 0;
	}

	.homePage .anniversary img {
		display: none;
	}

	.homePage .anniversary .anniversaryBigBlock img {
		max-width: 370px;
		margin: 0 auto;
		display: block;
	}

	.homePage .anniversary .anniversaryBigBlock p:last-of-type {
		margin-top: -10px;
	}
}