.homePage {
	min-height: 100vh;
	padding: 0 var(--sidePadding);
	margin-top: 66px;
}

.homePage .headline {
	font-size: var(--headerFS);
	font-family: var(--font-staatliches), system-ui, sans-serif;
	text-align: center;
	line-height: 120%;
}

.homePage .heroSection .headline {
	margin-top: 15px;
	margin-bottom: 15px;
}

.homePage .heroSection p {
	font-weight: 500;
	max-width: 514px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

.homePage .heroSection a,
.homePage .popularSeries a,
.homePage .anniversary .anniversaryInfo a {
	font-size: var(--butonFS);
	padding: 19px 51px;
	cursor: pointer;
	font-weight: 600;
	border-radius: 20px;
}

.homePage .heroSection a {
	display: block;
	width: fit-content;
	background-color: var(--orange);
	margin: 0 auto;
}

.homePage .heroSection img {
	display: block;
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	margin-bottom: 55px;
	height: fit-content;
}

.homePage .orangeContainer {
	margin: 0 calc(var(--sidePadding) * -1);
	width: calc(100% + (var(--sidePadding) * 2));
}

.homePage .orangeBlock {
	display: block;
	width: 100%;
}

.homePage .newReleases,
.homePage .popularSeries {
	margin: 0 calc(var(--sidePadding) * -1);
	padding: 0 var(--sidePadding);
}

.homePage .newReleases {
	background-color: var(--orange);
	padding-bottom: 48px;
	padding-top: 16px;
}

.homePage .newReleases a {
	display: flex;
	align-items: center;
	gap: 15px;
	font-size: var(--butonFS);
	font-weight: 600;
	cursor: pointer;
	width: fit-content;
	margin: 0 auto;
	padding: 5px 15px;
}

.homePage .popularSeries .popularSeriesContent,
.homePage .newReleases .comicsContainer,
.homePage .anniversary {
	max-width: 1008px;
	margin: 0 auto;
}

.homePage .newReleases .comicsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 40px 32px;
	justify-content: center;
	margin-top: 39px;
}

.homePage .newReleases .comicsContainer .comic {
	display: flex;
	gap: 20px;
	min-width: 484px;
}

.homePage .newReleases .comicsContainer .comic .comicInfo,
.homePage .newReleases .comicsContainer .comic img {
	max-width: 232px;
}

.homePage .newReleases .comicsContainer .comic .comicInfo {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.homePage .newReleases .comicsContainer .comic h3 {
	font-size: 20px;
	font-weight: 600;
}

.homePage .popularSeries {
	background-color: var(--green);
	padding-bottom: 48px;
	padding-top: 48px;
	color: var(--orange);
}

.homePage .popularSeries .headline {
	color: var(--white);
	border-bottom: 5px solid var(--white);
	text-align: left;
	margin-bottom: 20px;
}

.homePage .popularSeries .seriesInfo {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.homePage .popularSeries .seriesInfo h3 {
	font-family: var(--font-staatliches), system-ui, sans-serif;
	font-size: 45px;
	width: 100%;
	line-height: 120%;
}

.homePage .popularSeries .seriesInfo h4 {
	white-space: nowrap;
}

.homePage .popularSeries .comicsContainerOfThree {
	margin-top: 40px;
	margin-bottom: 30px;
	display: grid;
	gap: 32px;
	grid-template-columns: repeat(3, 1fr);
}

.homePage .popularSeries .comicsContainerOfThree .comic,
.homePage .popularSeries .comicsContainerOfThree .comic img {
	width: 100%;
}

.homePage .popularSeries .comicsContainerOfThree .comic {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.homePage .popularSeries .comicsContainerOfThree .comic .comicInfo {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.homePage .popularSeries .comicsContainerOfThree .comic .comicInfo h4 {
	font-size: 20px;
	font-weight: 600;
}

.homePage .popularSeries a {
	display: inline-flex;
	color: var(--white);
	background-color: var(--darkGreen);
}

.homePage .anniversary {
	margin-top: 48px;
	margin-bottom: 48px;
}

.homePage .anniversary img {
	width: 100%;
}

.homePage .anniversary .anniversaryInfo {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 586px;
}

.homePage .anniversary .anniversaryInfo p,
.homePage .anniversary .anniversaryInfo h3 {
	font-size: 18px;
}

.homePage .anniversary .anniversaryInfo h3 {
	font-weight: 600;
}

.homePage .anniversary .anniversaryInfo a {
	width: fit-content;
	background-color: var(--orange);
}

/* планшет*/
@media (max-width: 940px) {
	.homePage .heroSection img {
		margin-top: 16px;
	}
}

/* мобильная версия */
@media(max-width: 645px) {
	.homePage {
		padding: 0 16px;
		margin-top: 56px;
	}

	.homePage .headline {
		font-size: var(--headerMobileFS);
	}

	.homePage .heroSection .headline {
		max-width: 358px;
		margin: 10px auto 15px;
	}

	.homePage .heroSection p {
		max-width: 341px;
	}

	.homePage .heroSection a,
	.homePage .popularSeries a,
	.homePage .anniversary .anniversaryInfo a {
		font-size: var(--butonMobileFS);
	}

	.homePage .heroSection img {
		margin-bottom: 48px;
	}

	.homePage .newReleases a {
		font-size: var(--butonMobileFS);
		padding: 0 15px;
	}

	.homePage .newReleases .comicsContainer {
		flex-direction: column;
	}

	.homePage .newReleases .comicsContainer .comic,
	.homePage .popularSeries .comicsContainerOfThree .comic {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		min-width: 0;
	}

	.homePage .newReleases .comicsContainer .comic .comicInfo,
	.homePage .newReleases .comicsContainer .comic img {
		max-width: none;
		width: 100%;
	}

	.homePage .newReleases .comicsContainer .comic .comicInfo {
		gap: 16px;
	}

	.homePage .newReleases .comicsContainer .comic h3,
	.homePage .newReleases .comicsContainer .comic p {
		font-size: 14px;
	}

	.homePage .popularSeries .seriesInfo {
		margin-bottom: 20px;
	}

	.homePage .popularSeries .seriesInfo h3 {
		font-size: 30px;
	}

	.homePage .popularSeries .seriesInfo h4 {
		font-size: 12px;
	}

	.homePage .popularSeries .comicsContainerOfThree {
		margin-top: 32px;
		display: flex;
		flex-direction: column;
	}

	.homePage .popularSeries .comicsContainerOfThree .comic .comicInfo h4,
	.homePage .popularSeries .comicsContainerOfThree .comic .comicInfo p {
		font-size: 14px;
	}

	.homePage .popularSeries a {
		display: block;
		text-align: center;
	}

	.homePage .anniversary .anniversaryInfo p,
	.homePage .anniversary .anniversaryInfo h3 {
		font-size: 16px;
	}

	.homePage .anniversary .anniversaryInfo a {
		width: 100%;
		text-align: center;
	}
}